html {
    font-style: normal;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

body {
    margin-top: 20px;
    padding: 15px;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}